{%extends 'user/base.html'%}
{%block body%}
<h1 class="font-bold text-2xl m-8 flex justify-center">🔓Send mail</h1>

<div class="flex justify-center">
<form method="POST" class="bg-white shadow-md m-10 w-2/5 rounded px-8 pt-6 ">
    {%csrf_token%}
    <div class="mb-2 flex">
        <label class="block text-grey-600 text-sm font-bold mb-3"for="">Email</label>
        <div class="shadow appearance-none border rounded py-2 px-3 mr-10 text-grey-600">{{form.email}}
        </div>
        <button class="text-white bg-green-500 px-4 py-2 mb-2 rounded " type="submit">Submit</button>
    </form>
</div>
{%endblock%}