{%extends 'user/base.html'%}
{%block body%}
<h1 class="font-bold text-3xl flex justify-center">Change Password🔐</h1>
<div class="error-container text-red-500 px-8">
    {%if form.errors %}
    {%for field in form%}
    {{field.errors}}
    {%endfor%}
    {%endif%}
    </div>
<form method="POST" enctype="multipart/form-data" class="mx-60 w-200">
    {%csrf_token%}
    <div class="mb-2">
    <label class="block text-grey-800 text-sm font-bold mb-2" for="">Old password</label>
    <div class="shadow appearance-none border rounded px-2 py-3 mr-10 text-grey-500">{{form.old_password}}
    </div>
    </div>
    <div class="mb-2">
        <label class="block text-grey-800 text-sm font-bold mb-2" for="">New password</label>
        <div class="shadow appearance-none border rounded px-2 py-3 mr-10 text-grey-500">{{form.new_password1}}
        </div>
        </div>
        <div class="mb-2">
            <label class="block text-grey-800 text-sm font-bold mb-2" for="">Confirm new password</label>
            <div class="shadow appearance-none border rounded px-2 py-3 mr-10 text-grey-500">{{form.new_password2}}
            </div>
            </div>
    <button type="submit" class="bg-green-500 text-white my-5 px-5 py-2 rounded ">Submit</button>
</form>

{%endblock%}